.error-message {
	@include flex();
	position: fixed;
	background: rgba(255, 255, 255, 0.8);	
	width: 100%;
	height: 100vh;
	left: 0;
	top: 0;	
	
	&__container {
		background-color: $error-color;
		width: 200px;
		height: 100px;
		padding: 20px;	
		
		&>h2 {
			text-align: center;
		}
		
		&>button {
			display: block;
			margin: 30px auto;			
		}
	}
}