.application {
	color: $text-color;
	min-width: 240px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	
	&__header {
		background-color: $header-color;
		color: $header-text-color;		
		padding: 20px;
		font-size: 24px;
	}
	
	.nav {
		background-color: $navigation-color;
		color: $navigation-text-color;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 0px 10px 20px;
		
		&__items {
			padding-left: 0px;
		}
		
		&__item {
			display: inline-block;
			margin-left: 20px;
			cursor: pointer;
			
			&:first-child {
				margin-left: 0px;
			}
		}
	}
	
	.container {		
		color: blue;
		width: 80%;
		margin: 20px auto;
	}
}

.border {
	border: 1px solid;
}

h1 {
	font-size: 36px;
}