.application {
	color: $text-color;
	min-width: 240px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	
	&__header {
		background-color: $header-color;
		//color: $header-text-color;		
		padding: 20px;
		font-size: 24px;
		
		&>a {
			color: $header-text-color !important;
			text-decoration: none;
		}
	}
	
	.nav {
		background-color: $navigation-color;		
		width: 100%;
		box-sizing: border-box;
		padding: 10px 0px 10px 20px;
		
		&__items {
			padding-left: 0px;
		}
		
		&__item {
			display: inline-block;
			margin-left: 20px;
			cursor: pointer;
			
			&:first-child {
				margin-left: 0px;
			}
			
			&>a {
				color: $navigation-text-color !important;
				text-decoration: none;
			}
		}
	}
	
	&__container {
		color: $text-color;
		width: 80%;
		margin: 20px auto;
	}
}

.wait-please {
	margin-top: 50px;
	text-align: center;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

button[type="button"] {
	 background-color: blue;
	 color: white;
	 border: none;
	 padding: 10px 20px;
	 cursor: pointer;
}