.application {
	color: $text-color;
	min-width: 240px;
	margin: 0 auto;
	font-size: 14px;
	
	&__header {
		background-color: $header-color;
		padding: 10px;
	}
	
	.nav {
		background-color: $navigation-color;
		width: 100%;
		height: 50px;
	}
	
	.container {		
		color: blue;
		width: 80%;
		margin: 20px auto;
	}
}

.border {
	border: 1px solid;
}

h1 {
	font-size: 36px;
}