$text-color: #286090;

// Header
$header-color: #337ab7;
$header-text-color: #ffffff;

//Navigation
$navigation-color: #286090;
$navigation-text-color: #ffffff;

// Buttons
$button-color: #337ab7;
$button-color: #286090;

// Error message
$error-color: #337ab7;
$error-text-color: #ffffff;

// Card
$card-color: #bfbfbf;
$card-text-color: #ffffff;

// Canvas
$canvas-color: #bfbfbf;