$text-color: #286090;

// Header
$header-color: #337ab7;
$header-text-color: #ffffff;

//Navigation
$navigation-color: #286090;
$navigation-text-color: #ffffff;

// Buttons
$button-color: #337ab7;
$button-color: #286090;